<div class="button_area" >
  <button class="button" (click)="displayAll()">Display All Elephants</button>
  <button class="button" (click)="displayMales()">Display Male Elephants</button>
  <button class="button" (click)="displayFemales()">Display Female Elephants</button>
  <b class="total_count">{{elephant_count}}</b>
</div>
<div class="img_reveal"><img [hidden] = "show_image_flag" src="{{missing_flag}}" alt="test"></div>
<div class="content col-md-12">
  <div class="elephants_result">
    <table class="rwd-table" [hidden] = "show_all_flag">
      <tr>
        <th class="heading">Elephant Name</th>
        <th class="heading">DOB</th>
        <th class="heading">Note</th>
      </tr>
      <tr *ngFor="let elephant of elephants">
        <td data-th="Elephant Name" (click)="missing_flag = showPic(elephant.image)">{{elephant.name}}</td>
        <td data-th="DOB">{{elephant.dob}}</td>
        <td data-th="Note">{{elephant.note}}</td>
      </tr>
    </table>
    <table class="rwd-table" [hidden] = "show_male_flag" id="male_list">
      <tr>
        <th class="heading">Elephant Name</th>
        <th class="heading">DOB</th>
        <th class="heading">Note</th>
      </tr>
      <tr *ngFor="let elephant of male_elephants">
        <td data-th="Elephant Name" (click)="missing_flag = showPic(elephant.image)">{{elephant.name}}</td>
        <td data-th="DOB">{{elephant.dob}}</td>
        <td data-th="Note">{{elephant.note}}</td>
      </tr>
    </table>
    <table class="rwd-table" [hidden] = "show_female_flag">
      <tr>
        <th class="heading">Elephant Name</th>
        <th class="heading">DOB</th>
        <th class="heading">Note</th>
      </tr>
      <tr *ngFor="let elephant of female_elephants">
        <td data-th="Elephant Name" (click)="missing_flag = showPic(elephant.image)">{{elephant.name}}</td>
        <td data-th="DOB">{{elephant.dob}}</td>
        <td data-th="Note">{{elephant.note}}</td>
      </tr>
    </table>
  </div>
</div>